body, html {
    margin: 0;
    background: #323437;
    font-family: "Roboto Mono", "Vazirmatn", monospace;
    font-size: 30px;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

#renderCanvas {
    height: 100%;
    width: 100%;
}

#overlayText {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    z-index: 100;
}

#container {
    height: 100%;
    width: 100%;
}
